*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
/*header*/
.header-nav{
    width: 100%;
    outline: solid black 0.1rem;
    background-color: rgb(35, 42, 52);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    position: -webkit-sticky;
    top: 0;
}
.header-nav__Logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.header-nav__Logo img{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
}
.header-nav h1{
    align-self: center;
    margin-left: 0.5rem;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 0rem 0rem 1rem 0 blanchedalmond;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.header-nav h1 a{
    text-decoration: none;
    color: white;
}
.header-nav__label{
    align-self: center;
    margin-left: 10rem;
}
.header-nav__label input{
    width: 50rem;
    height: 4rem;
    border-radius: 1rem;
    outline: none;
    font-family: sans-serif;
    font-size: 1.8rem;
    padding: 1rem;
}
.header-nav__Lista{
    display: flex;
    position: static;
    margin-left: auto;
    list-style: none;
    align-items: center;
}
.header-nav__Lista a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.header-nav__Lista li{
    
    font-size: 1.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.header-nav__label-registro{
    display: flex;
    align-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
.header-nav__label-ingresar{
    display: flex;
    align-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
.header-nav__label-input{
    width: 10rem;
    height: 4rem;
}
.Registro{
    background: none;
    color: white;
    border: none;
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    cursor:pointer;
    outline: none;

}
.Ingresar{
    background: rgb(13, 131, 110);
    border: black solid 0.1rem;
    border-radius: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    cursor:pointer;
    outline: none;
}
/*Animacion_Header*/
.header-nav h1 a:hover, .header-nav__Lista li a:hover{
    color: rgb(200, 202, 204);
    transition: 0.5s;
}
.Registro:hover{
    color: rgb(200, 202, 204);
    transition: 0.5s;
}
.Ingresar:hover{
    background: rgb(13, 131, 110);
    transition: 0.5s;
    margin-top: -1rem;
}
.header-nav__label input:hover{
    border: solid black 0.1rem;
    border-radius: 1rem;
}
.header-nav__label input:enabled{
    font-weight: 700;
}
/*main*/
body main{
    padding: 1rem;
}
.main-section{
    display: flex;
    position: relative;
    width: 100%;
    height: 200rem;
}
.main-menuLateral{
    height: 200rem;
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 251, 249);
    position: absolute;
    outline: black solid 0.1rem;
    box-shadow: -1rem -0.19999999999999996rem 1.5rem 0.1rem #3d0d43;
}
.main-menuLateral h1{
    position: absolute;
    top: 5rem;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 6rem;
}
.main-menuLateral__lista{
    list-style: none;
    background-color: white;
    position: sticky;
    top: 25rem;
    padding: 2rem;
    width: 30rem;
    height: 32rem;
    outline: black solid 0.1rem;
}
.main-menuLateral__lista li{
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.2rem;
    font-weight: 800;
}
.main-menuLateral__lista a{
    text-decoration: none;
    color: black;
}
.main-section__contenido{
    display: flex;
    position: relative;
    width: 75%;
    height: 200rem;
    margin-left: 25%;
    outline: black solid 0.1rem;
    box-shadow: 0 0 1rem turquoise;
    padding: 5rem;
}
.main-section__contenido h1{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    font-size: 4rem;
}
.main-section__contenido p{
    width: 55%;
    font-family: sans-serif;
    font-size: 1.6rem;
    position: absolute;
    width: 60%;
}
.contenido-productos{
    position: absolute;
    font-size: 4rem;
}
.contenido-productos{
    top: 18rem;
}
.main-section__contenido-ventas{
    top: 33rem;
}
.contenido-ventas{
    top: 46rem;
}
.main-section__contenido-envios{
    top: 68.2rem;
}
.contenido-envios{
    top: 81.2rem;
}
.main-section__contenido-preguntas{
    top: 101.6rem;
}
.contenido-preguntas{
    top: 114.6rem;
}
.listado{
    position: absolute;
    font-family: sans-serif;
    font-size: 1.6rem;
    list-style: none;
    margin: 2rem;
    top: 122rem;
}
.listado li{
    padding-top: 2rem;
    margin-top: 4rem;
}
.listado p{
    padding-top: 1rem;
    padding-left: 2rem;
}
.main-section__contenido-servicio{
    top: 167.6rem;
}
.contenido-cliente{
    bottom: 14rem;
}
/* animaciones main */

.main-menuLateral__lista li:hover,.main-menuLateral h1:hover{
    text-shadow: 0 0 1rem turquoise;
}
.main-menuLateral__lista li:hover{
    margin-left: 4rem;
    transition: 1.5s;
}
.main-menuLateral__lista a:active{
    text-shadow:  0 0 1rem  #3D0D43;
}
.main-section__contenido h1:hover{
    text-shadow:  0 0 1rem  #3D0D43;
}